.text-prompt {
  text-align: center;
  margin-top: 10px;
}

.text-prompt select {
  font-size: 1.5em;
  padding: 5px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
}

@media screen and (max-width: 480px) {
  h1 {
      font-size: 1.8em;
  }

  .text-prompt select {
      font-size: 1.0em;
  }

  .IAM{
    font-size:21px;
    padding-right:5px;
  }

}