.listing {
  position: relative;
  width: 30%;
  margin-right: 3.33%;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mainimg {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.listing h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.listing p {
  margin-bottom: 5px;
  text-align: justify;
}

.request {
  position: absolute;
  right:0;
  bottom: 0;
  margin-bottom: 5px;
  margin-right: 5px;
}
