.logoheader{
  color: white;
  text-decoration: none;
}

.logoheader:hover{
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #034f10;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Add this line */
  max-width: 100%; /* Add this line */
}

.header-img {
  max-width: 10%;
  height: auto;
  display: block;
  margin-right: 10px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tagline {
  font-size: 1.0em;
  font-style: italic;
  margin: 0;
  margin-top: 0px;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  header {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .header-container {
    justify-content: center; /* Add this line */
  }

  .header-img {
    max-width: 20%;
    height: auto;
    display: block;
    margin-right: 5px;
  }

  img {
    margin-right: 5px;
    width:50%;
    height:auto;
  }

  .header-text{
    margin-top: 10px;
  }

  h1 {
    font-size: 1.5em;
    margin-bottom: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: visible;
   
  }

  .tagline {
    font-size: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom: 10px;
  }
}
