/* Default styles */
header {
  display: flex;
  flex-direction: column; /* Change flex direction to column */
  align-items: center;
  padding: 20px;
  background-color: #17a843;
  color: #fff;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

h1 {
  font-size: 2em;
  margin-bottom: 5px;
}

.tagline {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 20px;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  /* Adjust header padding */
  header {
    padding: 5px;
    
  }

  /* Reduce the size of the profile image */
  .profile img {
    width: 30px;
    height: 30px;
  }

  /* Reduce the font size of the heading */
  h1 {
    font-size: 2em;
    white-space: nowrap; /* Prevent wrapping */
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
    
  }

  /* Reduce the font size of the tagline */
  .tagline {
    font-size: 1em;
    white-space: nowrap; /* Prevent wrapping */
    
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
  }
}
