:root {
  --base-font-size: 16px;
}

body {
  font-size: var(--base-font-size);
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
}

.filters label {
  font-weight: bold;
  white-space: nowrap;
  font-size: calc(var(--base-font-size) * 0.875);
}

.filters select,
.filters input[type="date"] {
  margin-left: 0px;
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  flex-grow: 1;
  min-width: 20%;
  max-width: 100%;
  font-size: calc(var(--base-font-size) * 0.875);
}

.filters > * {
  margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
  :root {
    --base-font-size: 14px;
  }

  .filters > * {
    flex: 1 1 33%;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --base-font-size: 12px;
  }

  .filters{
    padding-left: 15px;
  }

  .filters label {
    display: block;
    margin-top: 0px;
  }

  #gender-select{
    width: 100px;
  }

  .filters select, .filters input[type="date"] {
    margin-left: 0;
  }
}
